.data {
	margin-bottom: 50px;
}

.data--inner .data__item--block {
	padding-top: 0px;
}

.data__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.data__item--aside {
	width: 190px;
}

.data__item--block {
	width: -webkit-calc(100% - 190px);
	width: calc(100% - 190px);
	padding: 0 32px;
	padding-top: 42px;
	background-color: #f7f9fb;
}

