.desc__title {
	font-size: 18px;
	line-height: 1.3;
	color: #333333;
	padding-bottom: 26px;
	font-family: Montserrat;
	font-weight: 400;
}

.desc__text {
	font-size: 14px;
	line-height: 2.1;
	color: #7d7d7d;
	font-family: Montserrat;
	font-weight: 400;
	padding-bottom: 30px;
}

