.equipment__item {
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0);
	background-color: #f7f7f7;
	border-top: 1px solid blue;
	padding: 23px;
	margin-top: 25px;
}

.equipment__item p {
	font-size: 14px;
	line-height: 1.7;
	color: #333333;
	padding-bottom: 8px;
}

