.payment__holder {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	border-bottom: 1px solid #dad8df;
	padding-top: 31px;
	padding-bottom: 16px;
}

.payment__content,
.payment__block {
	margin-bottom: 15px;
}

.payment__content {
	padding-right: 14px;
}

.payment__balance {
	font-size: 16px;
	line-height: 1.5;
	color: #141414;
	text-transform: uppercase;
	font-weight: 200;
}

.payment__price {
	font-size: 14px;
	color: #141414;
	font-weight: 200;
	padding-top: 10px;
}

.payment__price span {
	font-size: 36px;
}

.payment__block {
	max-width: 115px;
}

.payment__btn {
	cursor: pointer;
	font: inherit;
	display: block;
	font-size: 16px;
	line-height: 1.5;
	color: #3dce66;
	text-transform: uppercase;
	font-weight: bold;
}

.payment__need {
	font-size: 12px;
	line-height: 2;
	color: #141414;
	text-transform: uppercase;
	padding-top: 15px;
}

.payment__need span {
	text-transform: none;
}

.payment__wrap {
	padding-top: 10px;
}

.payment__item {
	border-top: 1px solid blue;
	background-color: #f7f7f7;
	padding: 20px 24px;
	padding-bottom: 18px;
	margin-top: 30px;
}

.payment__inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.payment__inner .payment__box {
	margin-bottom: 20px;
}

.payment__inner .payment__box:first-child {
	padding-right: 40px;
}

.payment__title {
	font-size: 12px;
	line-height: 1.2;
	color: #ababab;
	text-transform: uppercase;
	padding-bottom: 6px;
}

.payment__data {
	font-size: 16px;
	line-height: 1.5;
	color: #141414;
	font-weight: 200;
}

.payment__status {
	font-size: 16px;
	line-height: 1.5;
	color: #3dce66;
	font-weight: 200;
	text-transform: uppercase;
}

.payment__count {
	font-size: 16px;
	line-height: 1;
	color: #141414;
	font-weight: 200;
}

.payment__count span {
	font-size: 30px;
}

@media screen and (max-width: 780px) {

.payment__item {
	padding: 15px;
}

}

