.product {
	background-color: #f0f0f0;
	padding-top: 35px;
	padding-bottom: 38px;
}

.product__title {
	background-image: url(../img/icons/icon_product.svg);
	background-repeat: no-repeat;
	background-position: left center;
	color: #4a4a4a;
	font-size: 22px;
	-webkit-background-size: 16px 24px;
	background-size: 16px 24px;
	padding-left: 28px;
	margin-bottom: 19px;
	font-weight: normal;
	font-family: "Roboto";
}

.product__title span {
	font-weight: bold;
}

.product__text p {
	color: #666666;
	line-height: 1.3;
	font-weight: 400;
	font-family: Roboto;
	margin: 0;
	padding: 0;
	padding-bottom: 28px;
}

.product__link {
	cursor: pointer;
	display: block;
	color: #ffffff;
	font-size: 15px;
	color: #ffffff;
	background-color: #1bbc9b;
	text-transform: uppercase;
	text-align: center;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 7px;
	font-family: Roboto;
	font-weight: 500;
	margin-bottom: 30px;
	-webkit-transition: 0.3s background-color;
	-o-transition: 0.3s background-color;
	transition: 0.3s background-color;
}

.product__link:hover {
	background-color: #0c594a;
}

.product__subtitle {
	font-size: 20px;
	line-height: 1.8;
	text-transform: uppercase;
	text-align: center;
	color: #4a4a4a;
	font-family: Roboto;
	font-weight: bold;
	padding-bottom: 45px;
}

.product__single {
	max-height: 288px;
	margin-bottom: 40px;
}

.product__single img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.product__gallery {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 -8px;
	padding-bottom: 30px;
}

.product__item {
	cursor: pointer;
	max-width: 36px;
	margin: 0 8px;
	margin-bottom: 30px;
}

.product__item img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
	-o-object-fit: 100%;
	object-fit: 100%;
}

.product__content p {
	font-size: 12px;
	line-height: 1.3;
	color: #666666;
	font-weight: 400;
	margin: 0;
	padding: 0;
	padding-bottom: 18px;
	font-family: Roboto;
}

.product__content ul {
	margin: 0;
	padding: 0;
	padding-top: 10px;
}

.product__content ul li {
	list-style-type: disc;
	list-style-position: inside;
	font-size: 12px;
	line-height: 1.3;
	color: #666666;
	font-family: Roboto;
	font-weight: 400;
	margin-bottom: 5px;
}

.product__content h1,
.product__content h2,
.product__content h3,
.product__content h4,
.product__content h5,
.product__content h6 {
	line-height: 1.2;
	color: #666666;
	font-weight: bold;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

.product__content h1 {
	font-size: 34px;
}

.product__content h2 {
	font-size: 30px;
}

.product__content h3 {
	font-size: 26px;
}

.product__content h4 {
	font-size: 22px;
}

.product__content h5 {
	font-size: 18px;
}

.product__content h6 {
	font-size: 14px;
}

