.nav-links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0 -8px;
	padding-top: 25px;
	border-top: 2px solid #ffffff;
}

.navigation {
	background-color: #f7f9fb;
	padding-top: 25px;
	padding-bottom: 75px;
}

.page-numbers {
	cursor: pointer;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	padding: 3px;
	margin: 0px 8px;
	-webkit-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
}

.page-numbers--current,
.page-numbers--dots {
	cursor: default;
}

.page-numbers a,
.page-numbers span {
	text-decoration: none;
	color: #333333;
	font-family: Montserrat;
	font-weight: 400;
}

.page-numbers--current span {
	color: #1c68a6;
}

.page-numbers:hover a {
	color: #1c68a6;
}

