@import 'responsive.sсss';

.plan {
	&__title {
		font-size: 16px;
		line-height: 1.2;
		color: #141414;
		text-transform: uppercase;
		padding-top: 25px;
		padding-bottom: 20px;
		font-weight: 200;
	}

	&__rate {
		font-size: 36px;
		line-height: 1;
		color: #141414;
		text-transform: uppercase;
		padding-bottom: 35px;
		font-weight: 200;
	}

	&__text {
		font-size: 16px;
		line-height: 1.5;
		color: #79b12c;
		text-transform: uppercase;
		font-weight: 200;
	}

	&__price {
		font-size: 16px;
		line-height: 1.5;
		color: #79b12c;
		text-transform: uppercase;
		padding-bottom: 40px;
		font-weight: 200;
		span {
			display: inline-block;
			font-size: 36px;
			line-height: 1;
			padding-top: 12px;
			margin-right: 5px;
		}
	}

	&__sum {
		font-size: 16px;
		line-height: 1.5;
		color: #141414;
		font-weight: 200;
		text-transform: uppercase;
		padding-bottom: 32px;
		b {
			font-weight: 200;
			padding: 0 15px;
		}
	}

   &__slider {
   		margin-bottom: 55px;
   }

   &__wrap {
   		display: flex;
   		align-items: center;
   		justify-content: space-between;
   		margin-bottom: 32px;
   }

   &__arrow {
   		cursor: pointer;
		display: block;
		width: 20px;
		height: 20px;
		border: none;
		outline: none;
		background-color: #f6f4fc;
		position: relative;
		&:after {
			position: absolute;
			content: ' ';
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 20px;
			height: 3px;
			background-color: #c1c1c1;
		}

		&--plus {
			&:before {
				position: absolute;
				content: ' ';
				top: 0px;
				left: 50%;
				transform: translateX(-50%);
				width: 3px;
				height: 20px;
				background-color: #c1c1c1;
			}
		}
   }

   	&__cost {
	 	position: relative;
	 }

   &__line {  
   		height: 2px;
	   	background-color: #c5c5c5;
   }

   &__handle {
	   	cursor: pointer;
	   	position: absolute;
	   	display: block;
	   	top: calc(50% - 10px);
	   	left: 0px;
	   	width: 20px;
	   	height: 20px;
	   	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
	   	border: 2px solid blue;
	   	background-color: #fff;
	   	border-radius: 50%;
   }

    &__block {
   		display: flex;
   		justify-content: space-between;
   		padding-top: 32px;
   	}

   	&__data {
   		font-size: 10px;
   		line-height: 1.2;
   		color: #333333;
   		text-transform: uppercase;
   		span {
   			font-size: 14px;
   		}
   	}

   &__btn {
   		font: inherit;
  	 	cursor: pointer;
	   	display: block;
	   	width: 100%;
	   	font-size: 16px;
	   	line-height: 1.5;
	   	color: #ffffff;
	   	background-color: #79b12c;
	   	border: none;
	   	outline: none;
	   	text-transform: uppercase;
	   	border-radius: 5px;
	   	padding: 9px;
	   	@include media(sm) {
	   		max-width: 360px;
	   	}
   }
}